@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Dancing Script', cursive ,'Varela Round', sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    align-items: center;
    
}
nav ul li{
    padding: 0 12px;
}
nav ul li img{
    width: 120px;
}
.brand img{
    width: 130px;
}
.brand{
    display: flex;
    align-items: center;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 23px;
    background-image: url('bg.jpg');
}
.bottom{
    display: flex;
    position: sticky;
    height: 80px;
    background-color: black;
    bottom:0;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#mybar{
    width: 201vh;
    cursor: pointer;
}
.icons{
    margin-top:20px;
}
.icons i{
    cursor: pointer;
    color: white;
    height: 34px;
    width: 40px;
}
.songitem{
    height: 50px;
    background-color: white;
    /* width: 102%; */
    color: black;
    display: flex;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    padding: auto;
    font-family: 'Dancing Script', cursive ,'Varela Round', sans-serif;
}
.songitem img{
    width: 29px;
    margin: 0 23px;
    border-radius: 34px;
}
.time{
    margin: 0 23px;
}
.time i{
    cursor: pointer;
}
.songitemcontainer{
    margin-top: 54px;
}
.songinfo{
    position: absolute;
    left: 2vw;
    color:white;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.8s ease-in;
}
